{% extends 'master.njk' %}

{% block pagetitle %}The Contacter - Registration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/registration.css">
{% endblock %}

{% block content %}
    <div id="registration">
        <form action="{{ 'regpage' | route }}">
            <input type="text" placeholder="Test">
            <input type="text" placeholder="Test2">
        </form>
    </div>
{% endblock %}