@import 'common-internal';

$paddingTopBottom: 10px;

body {
  @include regularFont();
  background-color: $bodyBg;
  background-image: url('../../images/hill.jpg');
  background-position: center center;
  background-size: 100%;

  h1 {
    @include font-shrikhand();
    @include font-size(30px);
    border-bottom: 1px solid $titleBorderColor;
  }

  #content {
    font: inherit;

    ul.error-list {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      list-style: none;

      li {
        &.oops {
          @include font-shrikhand();
          @include font-size(20px);
        }
      }

      // Only affects medium screens and larger
      //@include breakpoint(medium) {
      //  width: 40%;
      //}
    }

    .content-wrapper {
      position: relative;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding-top: $paddingTopBottom;
      padding-bottom: $paddingTopBottom;
      min-height: 100vh;
      background-color: $contentBg;

      ul.side-menu {
        display: block;
        position: relative;
        list-style: none;
        z-index: 1;
        margin: 0;
        padding: 0;
        font-size: 0;

        @include breakpoint(medium up) {
          position: absolute;
          top: 10px;
          left: 10px;
        }

        li {
          display: block;
          vertical-align: middle;
          text-align: center;
          width: 80px;

          @include breakpoint(medium up) {
            display: block;
            margin-bottom: 10px;
          }

          &:first-child {
            text-shadow: 1px 2px $menuShadowColor;
            margin-bottom: 0;
          }

          &.menutext {
            @include font-shrikhand();
            @include font-size(20px);
          }

          a {
            display: block;
            text-align: center;
            @include transition(all 0.2s ease-in-out);
            font-size: 0;

            &:hover {
              font-size: $iconHoverSize;
            }

            i {
              display: block;
              font-size: $iconDefaultSize;;
            }

            span {
              @extend i;

              &.title {
                @include font-size(15px);
              }
            }
          }

          &:hover {
            text-shadow: 1px 2px $menuShadowColor;
          }
        }
      }
    }
  }
}