@import 'common-internal';

$paddingTopBottom: 10px;

body {
  @include regularFont();
  background-color: $bodyBg;
  background-image: url('../../images/hill.jpg');
  background-position: center center;
  background-size: 100%;

  h1 {
    @include font-shrikhand();
    @include font-size(30px);
    border-bottom: 1px solid $titleBorderColor;
  }

  .text-italic {
    font-style: italic;
  }

  .hidden-if-no-js {
    display: none; // Js is gonna remove this.
  }

  #content {
    font: inherit;

    ul.error-list {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      list-style: none;

      li {
        &.oops {
          @include font-shrikhand();
          @include font-size(20px);
        }
      }

      // Only affects medium screens and larger
      //@include breakpoint(medium) {
      //  width: 40%;
      //}
    }
    .infotext {
      font-style: italic;
      font-size: $small-font-size;
    }

    .content-wrapper {
      position: relative;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding-top: $paddingTopBottom;
      padding-bottom: $paddingTopBottom;
      min-height: 100vh;
      background-color: $contentBg;

      $liPaddingsMobile: 10px;
      ul.side-menu {
        display: block;
        position: relative;
        list-style: none;
        z-index: 1;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
        padding-left: $liPaddingsMobile;
        padding-right: $liPaddingsMobile;

        @include breakpoint(large up) {
          position: absolute;
          top: 10px;
          left: 10px;
          padding-left: 0;
          padding-right: 0;
        }

        li {
          display: inline-block;
          vertical-align: middle;
          text-align: center;

          @include breakpoint(large up) {
            display: block;
            width: 80px;
            margin-bottom: 10px;
          }

          &:first-child {
            display: block;
            text-shadow: 1px 2px $menuShadowColor;
            margin-bottom: 10px;
            width: 100%;

            @include breakpoint(large up) {
              margin-bottom: 0;
            }
          }

          &.lineLong {
            display: inline-block;
            width: 100%;

            @include breakpoint(large up) {
              display: none;
            }
          }

          &.menutext {
            @include font-shrikhand();
            @include font-size(20px);
          }

          a {
            display: block;
            text-align: center;
            @include transition(all 0.2s ease-in-out);
            font-size: 0;

            &:hover {
              font-size: $iconHoverSize;
            }

            i {
              display: block;
              font-size: $iconDefaultSize;;
            }

            span {
              @extend i;

              &.title {
                @include font-size(15px);
              }
            }
          }

          &:hover {
            text-shadow: 1px 2px $menuShadowColor;
          }
        }
      }
    }
  }

  .tooltip {
    z-index: 9999;
  }

  #loading-indicator {
    display: none;
    margin: 0 auto;
    max-width: 20%;
    max-height: 20%;
  }

  .plus-button {
    display: inline;
    cursor: pointer;
    vertical-align: middle;
    @include font-size(20px);
  }
}