@import 'common';

#home {
  .welcome-wrapper {
    position: relative;

    .inside-wrapper {
      .nav-menu {
        ul.custom-menu {

          .has-tip {
            border-bottom: 0;
          }

          > li {
            padding-right: 30px;

            &:not(:last-of-type) {
              padding-right: 0;
            }
          }
        }
      }

      .welcome-text {
        > span {

          @include font-shrikhand();
          font-size: 70px;
          text-align: left;
          text-shadow: 4px 4px #b9cae5;
        }
        // margin-top: 10%;

        // .min-xs({ font-size: 80px; });

        span.nicetext {
          @include font-shrikhand();
          @include font-size(20px);
        }
      }

      .welcome-description {
        text-align: justify;
      }
    }
  }
}