@import 'common';

#contact-list {
  position: relative;

  .content-wrapper {
    ul {
      list-style: none;
      li {
        cursor: pointer;
        &:nth-child(2n) {
          background-color: $grey;
        }
      }
    }
  }
}

//@each $beer in stout, pilsner, lager {
//  .#{$beer}-background {
//    background: url("../img/beers/#{$beer}.png") no-repeat;
//  }
//}