@import 'common';

#contact-list {
  position: relative;

  table.contact-list-table {
    tr {
      th {
        text-align: center;
      }

      td {
        @extend th;

        > a {
          display: block;
          height: 67px;
          margin: -0.5rem -0.625rem -0.625rem;

          @include insert-ghost-element();
        }
      }
    }
  }

  @import '_the-contacter_list';

}

//@each $beer in stout, pilsner, lager {
//  .#{$beer}-background {
//    background: url("../img/beers/#{$beer}.png") no-repeat;
//  }
//}