{% extends 'master.njk' %}

{% block pagetitle %}The Contacter - Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <div id="home">
        <div class="welcome-wrapper">
            <div class="inside-wrapper">
                <div class="welcome-text text-center">
                    <span>Welcome to your new contact manager!</span>
                </div>
                <div class="nav-menu menu-centered">
                    <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Fancy word for a beetle.">scarabaeus</span>
                    <ul class="menu custom-menu">
                        <li><a href="{{ 'login' | route }}">Belépés</a></li>
                        <li><a href="{{ 'regpage' | route }}" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" title="You see?  I'm open!">Regisztráció</a></li>
                    </ul>
                </div>
                <div class="welcome-description">
                    {% include 'partials/success-msg.njk' %}
                    <p>
                        A The Contacter azért jött létre, hogy segíse az Ön mindennapi életét annyival, hogy hozzájárul
                        kapcsolatai egyszerű nyílvántartásához.<br>
                        Az alkalmazás lehetőséget ad kapcsolatok létrehozására, melyekhez csatolhat telefonszámokat,
                        email címeket, lakhelyeket, és megjegyzéseket is. Egy amolyan könnyen használható
                        "telefonkönyként"
                        tudnám leírni.<br>
                        <span class="nicetext">Próbálja ki!</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}