{% extends 'master.njk' %}

{% block pagetitle %}The Contacter - Listpage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/list.css">
{% endblock %}

{% block content %}
    {% include 'partials/success-msg.njk' %}
    {% include 'partials/error-list.njk' %}

    <div id="contact-list">
        <div class="content-wrapper">

            {% if contacts | length > 0 %}
                <ul>
                    {% for contact in contacts %}
                        <li>
                            <a href="{{ 'showContact' | route({id: contact.id}) }}">{{ contact.firstname ~ ' ' ~ contact.surname }} {% if contact.email %}{{ contact.email }}{% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>
                    Még nincsenek hozzáadott kontaktjai.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}