{% extends 'master.njk' %}

{% block pagetitle %}The Contacter - {{ contact.firstname ~ ' ' ~ contact.lastname }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}

{% block content %}
    {% if old('successMsg') %}
        <div data-alert class="alert-box success radius">
            {{ old('successMsg') }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}
    <div id="contact-show">
        {{ contact.toString() }}
    </div>
{% endblock %}