{% extends 'master.njk' %}

{% block pagetitle %}The Contacter - {{ contact.firstname ~ ' ' ~ contact.surname }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}

{% block content %}
    {% if old('successMsg') %}
        <div data-alert class="alert-box success radius">
            {{ old('successMsg') }}
            <a href="#" class="close">&times;</a>
        </div>
    {% endif %}
    <div id="contact-show">
        <div class="image-wrapper">
            {% if contact.images | length > 0 %}
                <img src="{{ contact.image }}" alt="{{ contact.firstname ~ ' ' ~contact.surname ~ ' profilképe' }}">
            {% endif %}
            <div class="name-wrapper">
                <h1>{{ contact.firstname ~ ' ' ~ contact.surname }}</h1>
            </div>
            {% if contact.nickname %}
                <div class="nick-wrapper">
                    <span class="nickname">("{{ contact.nickname }}")</span>
                </div>
            {% endif %}
            <div class="actionbar">
                <ul>
                    <li><a href="{{ 'editContact' | route({id: contact.id}) }}" class="icon"><i class="fa fa-pencil"
                                                                                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-wrapper">
            {% if contact.image %}
                <img src="{{ 'imageServer' | route({ imageName: contact.image.url }) }}">
            {% endif %}
            {% if contact.tnums | length > 0 %}
                <div class="pack">
                    <div class="title">Telefonszámok</div>
                    <div class="content">
                        <table class="show-for-medium contact-list-table">
                            <thead>
                            <tr>
                                <th>Típus</th>
                                <th>Email cím</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tnum in contact.tnums %}
                                <tr>
                                    <td>{{ tnum.type }}</td>
                                    <td>{{ tnum.number }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul class="the-contacter-list hide-for-medium">
                            {% for tnum in contact.tnums %}
                                <li>
                                    <div class="fake-col list-icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <div class="fake-col">{{ tnum.type }}</div>
                                    <div class="fake-col">{{ tnum.number }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if contact.emails | length > 0 %}
                <div class="pack">
                    <div class="title">Email címek</div>
                    <div class="content">
                        <table class="show-for-medium contact-list-table">
                            <thead>
                            <tr>
                                <th>Típus</th>
                                <th>Email cím</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for email in contact.emails %}
                                <tr>
                                    <td>{{ email.type }}</td>
                                    <td>{{ email.email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul class="the-contacter-list hide-for-medium">
                            {% for email in contact.emails %}
                                <li>
                                    <div class="fake-col list-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <div class="fake-col">{{ email.type }}</div>
                                    <div class="fake-col">{{ email.email }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if contact.addresses | length > 0 %}
                <div class="pack">
                    <div class="title">Címek</div>
                    <div class="content">
                        <table class="show-for-medium contact-list-table">
                            <thead>
                            <tr>
                                <th>Típus</th>
                                <th>Email cím</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for address in contact.addresses %}
                                <tr>
                                    <td>{{ address.type }}</td>
                                    <td>{{ address.address }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul class="the-contacter-list hide-for-medium">
                            {% for address in contact.addresses %}
                                <li>
                                    <div class="fake-col list-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <div class="fake-col">{{ address.type }}</div>
                                    <div class="fake-col">{{ address.address }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if contact.comment %}
                <div class="pack">
                    <div class="title">Megjegyzésem</div>
                    <div class="content">
                        <p class="text-italic">{{ contact.comment }}</p>
                    </div>
                </div>
            {% endif %}

            {% if contact.cgroups | length > 0 %}
                <div class="pack">
                    <div class="title">Csoportok, melyekbe a kontakt tartozik</div>
                    <div class="content">
                        <ul class="simple-list">
                            {% for cg in contact.cgroups %}
                                <li>{{ cg.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}