@import '_common-internal';

body {
  @include regularFont();
  background-color: $bodyBg;

  #content {
    font: inherit;
    .content-wrapper {
      padding-top: 10vh;
      min-height: 100vh;
      background-color: $contentBg;
    }
  }
}